header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height:100%;
    position: relative;
}

/* cta */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-light);
}
.header__socials::before {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-light);
}

/* photo */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
    transition: transform 0.2s;
}

.me:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    transform: scale(0.8);
}
/* scroll */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 800;
    font-size: 0.9rem;
    color: var(--color-light);
}

