.container__footer {
    padding-top: 80px;
    padding-bottom: 12px;
    padding-left: 50px;
    color: var(--color-light);
}
/* media queries */
@media screen and (max-width: 1024px) {
    .container__footer {
        font-size: 9px;
    }
}
@media screen and (max-width: 600px) {
    .container__footer {
        font-size: 9px;
    }
}